body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.option-box {
    margin: 10px;
    border: 2px solid #000;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.option-txt {
    padding: 10px;
    border: 3px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 5px;
    transition: background-color 0.3s;
}

.option-txt:hover {
    background-color: #ccc;
}

.selected {
    border: 5px solid rgb(74, 170, 74);
    border-radius: 10px;
}

.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 45%;
    height: 90%;
    text-align: center;
}

#optionsBox {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.options {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 100%;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    text-align: left;
}

#site-preview {
    width: 100%;
    height: 90%;
    background-color: purple;
}

h1 {
    margin-top: 0;
}

.styled-button {
    background-color: #3498db;
    color: white;
    border: none;
    width: 30%;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.styled-button:hover {
    background-color: #2980b9;
}

.buttons-div {
    justify-content: space-around;
    width: 100%;
}